target
.idea/workspace.xml
.idea/excludeFromValidation
.idea/libraries
*.iml
.idea/template/template_variable_settings.xml

.flattened-pom.xml
# Maven:
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt
pom.xml.versionsBackup
versions.properties

# Emacs:
*~
