<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties" />

	<include resource="elk-appenders.xml"/>

	<logger name="com.zaxxer.hikari.pool" level="INFO" additivity="false">
		<appender-ref ref="hikari"/>
	</logger>

	<logger name="com.foreach.across.modules.logging.method.MethodLogger" level="INFO" additivity="false">
		<appender-ref ref="methods"/>
		<appender-ref ref="elk-methods"/>
	</logger>

	<!--this can be enabled at runtime via debugweb (/debug/logging/loggers#)-->
	<logger name="com.foreach.across.modules.logging.request.RequestLogger" level="TRACE" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="elk-requests"/>
	</logger>

	<logger name="org.springframework.data" level="WARN" additivity="false"/>
	<logger name="org.thymeleaf" level="WARN"/>
	<logger name="liquibase" level="WARN"/>

	<logger name="com.zaxxer.hikari.pool.HikariPool" level="DEBUG" additivity="false" >
		<appender-ref ref="elk-hikari"/>
	</logger>

	<logger name="net.sf.ehcache" level="WARN"/>

	<logger name="com.foreach.across" level="INFO" additivity="false">
		<appender-ref ref="across"/>
		<appender-ref ref="errors"/>
		<appender-ref ref="elk-errors"/>
	</logger>

	<logger name="com.foreach.across.core.context.bootstrap.AcrossBootstrapper" level="INFO" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="across"/>
		<appender-ref ref="errors"/>
		<appender-ref ref="elk-errors"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="console"/>
		<appender-ref ref="errors"/>
		<appender-ref ref="elk-errors"/>
	</root>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p %40.40c:%4L - %m%n</pattern>
		</encoder>
	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="errors">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/%d{yyyy'/'MM'/'dd'/errors.'yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%X{requestId}] [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="thymeleaf">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/%d{yyyy'/'MM'/'dd'/thymeleaf.'yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%X{requestId}] [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="application">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/%d{yyyy'/'MM'/'dd'/application.'yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%X{requestId}] [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="methods">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/%d{yyyy'/'MM'/'dd'/methods.'yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601}\t[%X{requestId}]\t%t\t%logger{0}\t%m%n</pattern>
		</encoder>
	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="across">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/%d{yyyy'/'MM'/'dd'/across.'yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%X{requestId}] [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="hikari">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/%d{yyyy'/'MM'/'dd'/hikari.'yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601}\t[%X{requestId}]\t%t\t%logger{0}\t%m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.foreach.across.core.installers.AcrossBootstrapInstallerRegistry" level="DEBUG">
		<appender-ref ref="console"/>
	</logger>

</configuration>
