<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="logback-appenders.xml" />

	<logger name="com.zaxxer.hikari.pool" level="INFO" additivity="false">
		<appender-ref ref="hikari"/>
	</logger>

	<logger name="com.foreach.across.modules.logging.method.MethodLogger" level="INFO" additivity="false">
		<appender-ref ref="methods"/>
		<appender-ref ref="elk-methods"/>
	</logger>

	<!--this can be enabled at runtime via debugweb (/debug/logging/loggers#)-->
	<logger name="com.foreach.across.modules.logging.request.RequestLogger" level="TRACE" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="elk-requests"/>
	</logger>

	<logger name="org.springframework.data" level="WARN" additivity="false"/>
	<logger name="org.thymeleaf" level="WARN"/>
	<logger name="liquibase" level="WARN"/>
	<logger name="com.zaxxer.hikari" level="INFO"/>
	<logger name="net.sf.ehcache" level="WARN"/>

	<logger name="com.foreach.across" level="INFO" additivity="false">
		<appender-ref ref="across"/>
	</logger>

	<logger name="com.foreach.across.core.context.bootstrap.AcrossBootstrapper" level="INFO" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="across"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="console"/>
	</root>

</configuration>
